<h1>Good news!</h1>

<%= link_to @product.name, product_url(@product) %> is back in stock.
<%= link_to "Unsubscribe",
            product_unsubscribe_url(@product, token: @subscriber.generate_token_for(:unsubscribe))
%>
